<% provide(:title, 'Home') %>

<% if signed_in? %>
  <div class="row">
	<aside class="span4">
      <section>
        <%# <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/todo_form' %>
      </section>
    </aside>
 	<div class="span8">
		<h3>Todo List</h3>
		<%= render 'shared/feed' %>
	</div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to ToDoOrDie</h1>
	<h2>Sometimes you just need your friends to hold you accountable to get things done!
		<br>ToDoOrDie is a <strong>24-hour time bomb that tweets if tasks are incomplete.</strong></h2>
	<strong>Step #1:</strong> Sign up and connect to your Twitter account<br>
	<strong>Step #2:</strong> Commit to a todo task that you want to complete in 24 hours<br>
	<strong>Step #3:</strong> If you do not complete your task within 24 hours, <strong>we'll tweet to your followers that you missed your goal!</strong><br><br>
	<%= image_tag "incompletetweet.png" %><br><br>


    <%= link_to "Sign up now!", authentications_path, 
                                class: "btn btn-large btn-primary" %>
	<br><br>
  </div>
<% end %>



