<% provide(:title, @user.email) %>
<div class="row">
  <div class="span8">
    <% if @user.todos.any? %>
      <h3>Todos (<%= @user.todos.count %>)</h3>
	  <%= link_to "Embarrass Me", check_if_all_complete_path(@user.id) %>
      <ol class="todos">
        <%= render @todos %>
      </ol>
      <%= will_paginate @todos %>
    <% end %>
  </div>
</div>