<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

	<div><%= f.label :email %><br />
	<%= f.email_field :email %></div>

<% if @user.password_required? %>
	<div><%= f.label :password %><br />
	<%= f.password_field :password %></div>

	<div><%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation %></div>
<% end %>

	<div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
