<li id="<%= feed_item.id %>">
	<span class="user">
		<%-# <%= link_to feed_item.user.email, feed_item.user % > -%>
	</span>
	<span class="content"><strong>Task: </strong><%= feed_item.todoitem %></span>
	<span class="timestamp">
		<strong>Committed on:</strong> <%= l feed_item.created_at.localtime, :format => :shorter %>
		<br>
		<% if feed_item.created_at + 24.hours > Time.now %>
			<strong>Deadline:</strong> <%= l (feed_item.created_at.localtime + 24.hours), :format => :shorter %>
		<% else %>
			<strong>Time's up</strong>
		<% end %>
		<br>
	</span>
	<% if current_user?(feed_item.user) %>
		<% if feed_item.complete %>
			<strong>Status:</strong> Complete
			<br>
			<%= link_to "NOT DONE", toggle_path(feed_item.id), 
			                            class: "btn btn-small btn-primary" %>
		<% else %>
			<strong>Status:</strong> Incomplete
			<br>
			<%= link_to "DONE", toggle_path(feed_item.id), 
			                            class: "btn btn-small btn-primary" %>
		<% end %>
		<br>
		<%= link_to "Delete", feed_item, method: :delete,
										 data: { confirm: "You sure?" },
										 title: feed_item.todoitem %>
	<% end %>
</li>



