<%= form_for(@todo) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  I want to... 
  <div class="field">
    <%= f.text_field :todoitem, placeholder: "go to the gym" %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>