<h1>
<a href="<%= user_path(current_user) %>">
  <%= current_user.email %>
</a>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.todos.count, "todo") %>
</span>