<li>
	<span class="content"><strong>Task: </strong><%= todo.todoitem %></span>
	<span class="timestamp">
		<strong>Committed on:</strong> <%= l todo.created_at.localtime, :format => :shorter %>
		<br>
		<% if todo.created_at.localtime + 24.hours > Time.now %>
			<strong>Deadline:</strong> <%= l (todo.created_at.localtime + 24.hours), :format => :shorter %>
		<% else %>
			<strong>Time's up</strong>
		<% end %>
		<br>
	</span>
	<% if current_user?(todo.user) %>
		<% if todo.complete %>
			<strong>Status:</strong> Complete
			<br>
			<%= link_to "NOT DONE", toggle_path(todo.id), 
			                            class: "btn btn-small btn-primary" %>
		<% else %>
			<strong>Status:</strong> Incomplete
			<br>
			<%= link_to "DONE", toggle_path(todo.id), 
			                            class: "btn btn-small btn-primary" %>
		<% end %>
		<br>
		<%= link_to "Delete", todo, method: :delete,
										 data: { confirm: "You sure?" },
										 title: todo.todoitem %>
	<% end %>
							
</li>	