<% provide(:title, 'Add todo') %>
<h1>Add todo</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@todo) do |f| %>
			
			<%= f.label 		:todoitem, "Your Todo" %>
			<%= f.text_field	:todoitem %>
			
			<%= f.submit "Commit Todo", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>		