<footer class="footer">
  <small>
    <a href="http://twitter.com/felixthea">@felixthea</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", 'mailto:felixthea@gmail.com' %></li>
    </ul>
  </nav>
</footer>