<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "ToDoOrDie", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          	<li><%= link_to "Home", root_path %></li>
			<% if user_signed_in? %>
				<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to 'Register', new_user_registration_path %></li>
				<li><%= link_to "Sign in", authentications_url %></li>
			<% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>